<header>
    
</header>
<body style="background-color: rgb(26, 156, 207)">
    
    <div class="topCard">

        <mat-card class="card">
            <mat-card-title>Ready for a new dog?</mat-card-title>
            <mat-card-subtitle class="subtitle">We're here to help. </mat-card-subtitle>
        </mat-card>

    </div>
    <br>
    <div class="mainPanel" class="cardDiv">
        <mat-card class="card">
            <mat-card-title>Borkn gets (you) dogs</mat-card-title>
            <mat-card-subtitle> </mat-card-subtitle>
        </mat-card>
        <br>
        <mat-card class="card">
            <mat-card-title>Tell us a few things..</mat-card-title>
            <mat-card-subtitle class="subtitle"> This will help us create an account.</mat-card-subtitle>
        </mat-card>
    </div>
</body>